<div class="container">
  <%= link_to '新增 Blog', new_admin_blog_path, class: 'btn btn-primary' %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blog Name</th>
        <th scope="col">Users</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each_with_index do |b, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= b.name %></td>
          <td><%= b.user_names %></td>
          <td>
            <%= link_to '查看所有文章', admin_blog_path(b) %>
            <%= link_to '編輯', edit_admin_blog_path(b) %>
            <%= link_to '刪除', admin_blog_path(b), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
